.background{
    background-image:url('https://raw.githubusercontent.com/stetro/domradio-android/chromecast-support/images/chromecast_background.jpg');
}
.gcpe .gcpg{
    color:#333333;
}
.gcpa[type="audio"] .placeholderImage, .gcpa[type="audio"] .placeholderImage{
    display:none;
}
.gcpa .splash{
    color:#333333;
}
.gcpl.progressBar{
    background-color:#b8251e;
}
